body {
    margin: 0;
    font-family: Arial, sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

.header {
    padding: 15px 0px 15px 0px;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2d2c66;;
    /* position: fixed; */
    width: 100vw;
}

.contenedor-header {
    display: flex;
    text-align: center;
}

.contenedor-header a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor-header .buttons{
    color: white;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e35513;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-header a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
.shop {
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e35513;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.shop {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.menu {
    display: none;
    flex-direction: column;
}
  
.menu-btn {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

.title{
    font-size: 4rem;
    color: #e35513;
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

button#vaciarCarritoBtn{
    border-radius: 8px;
    color: white;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e35513;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#carritoLista{
    font-size: 1.5rem;
}

.text-footer{
    font-size: 1.5rem;
    margin-top: 20px;
}
h2 {
    font-family: cursive;
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 2rem;
}

img{
    width: 50px ; 
}

ul{
    list-style-type: none;
}
  
li{
    margin-bottom: 20px;
}
  
span{
    display: flex;
    justify-content: center;
}

  
footer{
    width: 100vw;
    position: absolute;
    bottom: 0;
}
@media screen and (max-width: 768px) {
    .menu-btn {
        display: block;
    }
  
    h1{
      font-size: 4rem;
    }
  
    .shop {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-color: white;
    }
  
    .contenedor-header {
        flex-direction: flex;
        align-items: flex-start;
    }
  
    .menu-btn.active + .menu {
        display: flex;
    }
  
    .menu-btn.active {
        background-color: #555;
    }
  
    button:not(.menu-btn) {
        display: block;
        margin-top: 5px;
    }
}

@media screen and (min-width: 769px) {
    .menu-btn {
        display: none; 
    }
  
    .contenedor-header {
        flex-direction: row;
    }
  
    .menu {
        display: flex;
        flex-direction: row;
    }
  
    button:not(.menu-btn) {
        display: block;
        margin-top: 0;
    }
}
  