.img-ktm{
  border-radius: 10px;
}

.text-category{
  color: black;
}

span{
  font-size: 1.2rem;
  font-family: cursive;
}

h2 {
  font-family: cursive;
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 2rem;
}

.shop {
  margin-left: 20px;
  margin-top: 10px;
  width: 50px;
}

h1{
  font-size: 14rem;
  color: #e35513;
  display: flex;
  font-family: emoji;
  justify-content: center;
}


html {
  height: 100%;
  width: 100%;
}

.contenedor{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 8px;
}

.card{
  margin: 5px;
  border: 1px solid #bbbb;
  padding: 36px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.card .button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e35513;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
} 

.card .button a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
} 

h5{
  color: red;
  font-size: 1.5rem;
}

.card-img-top{
  width: 300px;
  border-radius: 10px;
}

.content-footer{
  display: flex;
  justify-content: space-around;
}

.text-footer{
  font-size: 1.5rem;
  margin-top: 20px;
}

img{
  width: 50px ; 
}

ul{
  list-style-type: none;
}

li{
  margin-bottom: 20px;
}

span{
  display: flex;
  justify-content: center;
}

.map{
  margin: 20px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s;
}

.dark-mode {
  background-color: #2e2d2cc9;
  color: #fff;
}

#modeImage{
  width: 40px;
  height: 40px;
  margin-top: 5px;
}



.header {
  padding: 15px;
  color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e2d2c66;;
  position: fixed;
  width: 100%;
}

.contenedor-header {
  display: flex;
  align-items: center;
}


#contenedor-mode{
  padding: 0px 23px;
}


.contenedor-header .buttons{
  color: white;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: red;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
} 

.contenedor-header a{
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.shop {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #e35513;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu {
  display: none;
  flex-direction: column;
}

.menu-btn {
  font-size: 1.5em;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 950px) {
  h1{
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .menu-btn {
      display: block;
  }

  h1{
    font-size: 4rem;
  }

  .shop {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-color: white;
  }

  .contenedor-header {
      flex-direction: flex;
      align-items: flex-start;
  }

  .menu-btn.active + .menu {
      display: flex;
  }

  .menu-btn.active {
      background-color: #555;
  }

  button:not(.menu-btn) {
      display: block;
      margin-top: 5px;
  }
}

@media screen and (min-width: 769px) {
  .menu-btn {
      display: none; 
  }

  .contenedor-header {
      flex-direction: row;
  }

  .menu {
      display: flex;
      flex-direction: row;
  }

  button:not(.menu-btn) {
      display: block;
      margin-top: 0;
  }
}
