body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}

.shop{
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
}

.prueba {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: calc(100vh - 58px); */
}

.image-container {
    max-width: 100vh;
    overflow: hidden;
    max-height: 100vh;
}

img {
    width: 100vh;
    height: auto;
}

.content-form{
    height: 100vh;
    width: 100%;
}

.content-form-login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ingresar{
    text-align: center;
    font-family: none;
    font-size: -webkit-xxx-large;
}

#formulario {
    display: grid;
    /* width: 30vh; */
    font-size: x-large;
}

#formulario img {
    width: 195px;
}

.form__label{
    font-family: none;
}

.form__input{
    border: 3px solid rgb(176, 176, 212);
    /* border: transparent; */
    border-radius: 15px;
    background: transparent;
    padding: 0 15px;
    box-shadow: 0 0 10px rgb(176, 176, 212), 0 0 10px rgb(176, 176, 212);
    color: rgb(176, 176, 212);
    font-family: none;
    height: 45px;
}

.form__input::placeholder{
    color: black;
}

.custom-button {
    background-color: #e35513;
    color: white;
    border: 3px solid  #e35513;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 15px;
    font-family: none;
}


.custom-button:hover {
    background-color: green;
    border-color: green;
}

.text__p{
    color: white;
    font-size: large;
    font-family: none;
}

.form__label__RecuperarContraseña{
    color: white;
    font-family: none;
    font-size: large;
    margin-top: 10px;
    display: grid;
    justify-content: flex-end;
    text-decoration: none;
    text-transform: none;
}
.form__label__RecuperarContraseña:visited {
    color: black;
}

.logo-link {
    position: relative;
    display: flex;
    justify-content: center;
}

.logo {
    width: 50px;
    transition: transform 0.3s; /* Agrega una transición para suavizar la animación */
}

.tooltip {
    position: absolute;
    top: -30px; /* Coloca el mensaje por encima del logotipo (ajusta según tus necesidades) */
    width: 100px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0; /* El mensaje estará oculto inicialmente */
    transform: translateY(-10px); /* Oculta el mensaje arriba */
    transition: opacity 0.3s, transform 0.3s; /* Agrega transiciones para suavizar la aparición */
    }

.logo-link:hover .logo {
    transform: scale(1.1); /* Escala el logotipo en el hover */
}

.logo-link:hover .tooltip {
    opacity: 1; /* Hace que el mensaje sea visible */
    transform: translateY(0); /* Muestra el mensaje */
}

.dark-mode {
    background-color: #2e2d2cc9;
    color: #fff;
}
  
#modeImage{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

#contenedor-mode{
    padding: 0px 23px;
}

.header {
    padding: 15px;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2d2c66;;
    position: fixed;
    width: 100%;
}

.contenedor-header {
    display: flex;
    align-items: center;
}

.contenedor-header .buttons{
    color: white;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-header a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shop {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e35513;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu {
    display: none;
    flex-direction: column;
}

.menu-btn {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 1280px) {
    .logo{
        display: none;
    }
    
    #ingresar{
        margin-top: 90px;
    }
}

@media screen and (max-width: 1440px) {
    .logo{
        display: none;
    }
    .menu-btn {
        display: block;
    }

    .shop {
      width: 50px;
      height: 50px;
      margin-right: 10px;
    }

    .contenedor-header {
        flex-direction: flex;
        align-items: flex-start;
    }

    .menu-btn.active + .menu {
        display: flex;
    }

    .menu-btn.active {
        background-color: #555;
    }

    button:not(.menu-btn) {
        display: block;
        margin-top: 5px;
    }
}

@media screen and (min-width: 1441px) {
    .menu-btn {
        display: none; 
    }
  
    .contenedor-header {
        flex-direction: row;
    }
  
    .menu {
        display: flex;
        flex-direction: row;
    }
  
    button:not(.menu-btn) {
        display: block;
        margin-top: 0;
    }
}
  
@media screen and (max-width: 912px) {
    .logo{
        display: none;
    }

    .image-container {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    #ingresar{
        font-size: -webkit-xxx-large;
    }

    #formulario {
        display: grid;
        font-size: xx-large;
    }

    .form__input::placeholder{
        font-size: x-large;
    }

}


@media screen and (max-width: 414px) {
    .logo{
        display: none;
    }

    .form__input::placeholder{
        font-size: x-large;
    }

    .form__input{
        width: 300px;
    }

    .custom-button {
        width: 300px;
    }
}

@media screen and (max-width: 375px){

    #ingresar{
        margin-top: 90px;
    }

    .logo{
        display: none;
    }

    .form__input{
        width: 250px;
    }

    .custom-button {
        width: 250px;
    }

    .form__input::placeholder{
        font-size: large;
    }
}