/* h1{
    font-size: 4rem;
    color: #e35513;
} */

h2{
    font-size: 2rem;
    margin-top: 110px;
}

.img-product{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(192, 0, 0, 0.719);
    width: 800px;
}

#agregarAlCarrito{
    color: white;
    width: 195px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1.2em;
    font-family: inherit;
    background-color: #e35513;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
}

button#agregarAlCarrito{
    width: 200px;
    height: 50px;
    font-size: 1.2em;
}

.contenedor-card-detalle{
    display: flex;
    justify-content: center;
}

.description-detalle{
    font-size: 2rem;
    display: block;
    margin: 20px;
    margin-top: 150px;
}

.content-button{
    display: flex;
    justify-content: center;
    height: 10%;
    padding: 20px;
}

#agregarAlCarrito{
    margin-top: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s;
}
  
.dark-mode {
    background-color: #2e2d2cc9;
    color: #fff;
}
  
#modeImage{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}
.shop {
    margin-left: 20px;
    margin-top: 10px;
    width: 50px;
}

.header {
    padding: 15px;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e2d2c66;;
    position: fixed;
    width: 100%;
}

.contenedor-header {
    display: flex;
    align-items: center;
}

.contenedor-header .buttons{
    color: white;
    margin-top: 5px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: red;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.contenedor-header a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.shop {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #e35513;
    cursor: pointer;
    transition: border-color 0.25s;
    margin-left: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.menu {
    display: none;
    flex-direction: column;
}

.menu-btn {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
}

@media screen and (max-width: 950px) {
    h1{
      font-size: 3.5rem;
    }
}

@media screen and (max-width: 856px) {
    .menu-btn {
        display: block;
    }

    h1{
      font-size: 4rem;
    }

    .shop {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      border-color: white;
    }

    .contenedor-header {
        flex-direction: flex;
        align-items: flex-start;
    }

    .menu-btn.active + .menu {
        display: flex;
    }

    .menu-btn.active {
        background-color: #555;
    }

    button:not(.menu-btn) {
        display: block;
        margin-top: 5px;
    }
}

@media screen and (min-width: 857px) {
    .menu-btn {
        display: none;
    }

    .contenedor-header {
        flex-direction: row;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    button:not(.menu-btn) {
        display: block;
        margin-top: 0;
    }
}

@media screen and (max-width: 1240px){
    h2 {
        display: flex;
        justify-content: center;
    }

    .img-product{
        width: 100%;
    }

    .contenedor-card-detalle {
        display: grid;
    }
}